.titleContainer {
  padding: 2rem 0;
  display: flex;
  border-bottom: 1px solid gray;
}

.titleBold,
.titleNormal {
  font-size: clamp(20px, 10vw, 100px);
}

.titleBold {
  font-weight: 600;
}

@media (max-width: 768px) {
  .titleBold,
  .titleNormal {
    text-align: center;
    font-size: 2rem;
  }
}
