.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 7rem;
}

.login,
.signup {
  text-decoration: none;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: inherit;
  font-weight: 600;
  font-family: inherit;
  border: none;
  font-size: 1rem;
}

.signup {
  color: var(--white);
  background-color: var(--black);
}

.login {
  border: 2px solid var(--black);
}

.signup:hover {
  cursor: pointer;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username {
  text-align: center;
}

@media (max-width: 768px) {
  .rightNav {
    margin-top: 1rem;
  }

  .login,
  .signup {
    margin: 0.5rem 0;
  }

  .btnsContainer {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 1rem;
  }
}
