.commentsContainer {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid gray;
}

.commentTop {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.userName {
  font-weight: 600;
}

.dateText {
  font-size: 0.75rem;
  color: gray;
}

.commentInputContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.input {
  border: 2px solid var(--black);
  border-radius: 20px;
  flex: 1;
  font-size: 1rem;
}

.btn {
  border: none;
  font-family: inherit;
  background-color: var(--black);
  color: var(--white);
  font-family: inherit;
  font-weight: 600;
  border-radius: 20px;
  padding: 0.5rem;
}

.btn:hover {
  cursor: pointer;
}
